*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
h1{
    color: blue;
    background-color: blueviolet;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
}
#bittu{
    color: brown;
}

.lnct{
    color: chocolate;
}