/* this is boiler plate of css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#parent{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    /* flex-wrap: wrap; */
    flex-wrap: nowrap;
    overflow: auto;
}

#box1{
    height: 200px;
    width: 200px;
    background-color:azure ;
    flex-shrink: 0;
}
#box2{
    height: 200px;
    width: 200px;
    background-color:aquamarine ;
    flex-shrink: 0;
}
#box3{
    height: 200px;
    width: 200px;
    background-color:blue;
    flex-shrink: 0;
}