*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    padding: 20px;
    display: flex;
    gap: 30px;
}

.card{
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.435);
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-evenly;
    flex-direction: column;
}

.card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;   
    object-position: center top;
}

.card h2{
    font-weight: 500;
    font-size: 26px;
}

.card button{
    border-radius: 50px;
    padding: 10px 30px;
    background-color: rgba(0, 0, 255, 0.644);
    border: none;
    color: white;
    font-weight: 600;
    border: 2px solid rgba(0, 0, 255, 0.644) ;
    cursor: pointer;
}

.card p{
    font-size: 16px;
    font-weight: 600;
    color: #888;
    text-align: center;
}

.card button:hover{
    /* background-color: darkblue; */
    background-color: transparent;
    color: lightblue;
}