*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: #222;
  display: grid;
  grid-template-columns: 100px minmax(200px, auto) 100px;
  grid-template-rows: 0;
}
.child{
    background-color: crimson;
    border: 3px solid white;
}