*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #fff;
    color:black;
}

#nav{
    padding: 10px 30px;
}

#nav a{
    color:black;
    font-size: 15px;
    margin-right: 30px;
    text-decoration: none;
}

#main>h1{
    font-size: 280px;
    font-weight: 90;
    padding-left: 50px;
}

#btmleft{
    position:absolute;
    width: 300px;
    left: 3%;
    bottom: 15%;
    
}
#btmleft h3{
    font-size: 20px;
}
#btmleft p{
    font-size: 15px;
    margin-top: 3px;
}

#btmleft h4{
    margin-top: 20px;
}

#bottombar{
    display: flex;
    justify-content: space-between;
    padding: 15px 35px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
   
}
#bottombar h1{
    color:black;
    /* text-decoration: none; */
    font-size: 15px;
}
#bottombar a{
    color:black;
    text-decoration: none;
    font-size: 15px;
}

#main>img{
    position: absolute;
    height: 250px;
}

#first{
    height: 400px;
    top: 40%;
    left: 65%;
}
#main #second{
    height: 250px;
    top: 40%;
    left: 45%;
}
#main #third{
    height: 150px;
    top: 60%;
    left: 60%;
}