@font-face {
    font-family: apple;
    src: url(./sf-pro-text_regular.woff2);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: apple;
}
html,
body {
  height: 100%;
  width: 100%;
}

/* #main{
    height: 100%;
    width: 100%;
    background-color: black;
} */

#nav{
    height: 60px;
    width: 100%;
    background-color: rgb(32, 32,32);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#nav h4{
    color: white;
    font-weight: 400;
    font-size: 20px;
}

#center{
    height: 80%;
    width: 100%;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_large_2x.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px;
    font-family: apple;
}

#center h1{
    color: white;
    font-size: 50px;
    font-weight: 600;
}
#center h5{
    color: white;
    font-size: 20px;
    font-weight: 300;
}

#links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;

}

#links button{
    background-color: royalblue;
    color: white;
    padding: 13px 20px;
    border-radius: 50px;
    border: none;
}