/* this is boiler plate of css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

/* #box1{
    height: 100px;
    width: 100px;
    background-color: coral;
}
#box2{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
} */

/* #box{
    height: 200px;
    width: 200px;
    background: linear-gradient(red,blue,green);
} */


/* #box{
    height: 200px;
    width: 200px;
    background: linear-gradient(to right, red,blue,green);
    /* to left,to bottom
*/

/* for diagonal (to right bottom) *} */

 /* #box{
    height: 200px;
    width: 200px;
    background: radial-gradient( red,blue,green);
} */


/* #outer{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
}
#inner{
    /* height: 100px;
    width: 100px; 

    height: 40%;
    width: 40%;
    background-color: azure;
} */

/* #main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1672011012713-de07fc9ee8fc?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:cover ;

    /* for vertical image use , background-position: (center,bottom,top any of it);
    background-size:contain ;
    background-repeat:no-repeat;
    *
} */


/* #box{
    height: 200px;
    width: 100px;
    background-color: saddlebrown;
    margin-left: 100px;
    margin-top: 100px;
} */

button{
    margin-left: 100px;
    margin-top: 100px;
    padding: 10px 20px;
}