*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

/* .child {
  height: 100px;
  width: 100px;
  background-color: teal;
}

.child:nth-child(2) {
  background-color: tomato;
} */

.box {
  height: 100px;
  width: 100px;
  background-color: teal;
}

/* .box:nth-last-child(3) {
  background-color: tomato;
} */

 .box:nth-child(odd) {  /* (2n) also can written */
  background-color: tomato;
}