@import "button";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.blue{
  @include button-styles(blue, white, 20px);
}

.red{
  @include button-styles(red, black, 16px);
}