*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    padding: 30px;
    background-color: rgb(3, 42, 55);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    height: 300px;
    width: 350px;
    background-color: white;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
} 

.bottom{
    height: 40%;
    width: 100%;
    background: linear-gradient(transparent, black);
    position: absolute;
    bottom: -40%;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    transition: all ease 0.5s; 
}
.bottom h4{
    color: white;
    font-size: 25px;
    font-weight: 400;
}
.bottom h3{
    background-color: white;
    padding: 5px 7px;
    border-radius: 50%;
}

.card:hover .bottom{
    bottom: 0%;
}