*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#parent {
  height: 100%;
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 25% 25% 25% 25%;
}

.box {
  background-color: crimson;
}

.box:nth-child(2) {  /* (2n) also can written */
  background-color: lightblue;
}

.box:nth-child(3) {
  background-color: khaki;
}